h1 {
    font-family:'Dosis', sans-serif;
    color: black;
    font-size:42px;
}
h2{
    color:black;
        font-family:'Dosis', sans-serif;
        font-size:30px;
}
h3{
    color: black; 
    font-family:'Dosis', sans-serif;
    font-size:13px;

}

h4{
 color: green;

}

.SOORTEN {
    width:100px;
    height:20px;
    margin:1px;
    display:block;
    background-color: white; 
    font: size 10pt;
    color: black; 
    font-family:'Dosis', sans-serif;
    text-align:center;
    text-decoration: none; 
    float: left;
    padding: 3px;
    }
 .MERKEN {
     width:100px;
        height:20px;
        margin:1px;
        display:block;
        background-color: white; 
        font: size 10pt;
        color: black;
        font-family:'Dosis', sans-serif;
        text-align:center;
        text-decoration: none; 
        float: left;
        padding: 3px;
        }
.SERVICE {
            width:100px;
            height:20px;
            margin:1px;
            display:block;
            background-color: white; 
            font: size 10pt;
            color: black;
            font-family:'Dosis', sans-serif;
            text-align:center;
            text-decoration: none; 
            float: left;
            padding: 3px;
            }
 .CONTACT  {
    width:100px;
    height:20px;
    margin:1px;
    display:block;
    background-color: white; 
    font: size 10pt;
    color: black;
    font-family:'Dosis', sans-serif;
    text-align:center;
    text-decoration: none; 
    float: left;
    padding: 3px;
    }
               